body {

}

.imagedivide {
  text-align: center;
  font-size: 1.5em;
}

.mainpageheadingimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/Pathfinder-At-War.jpg");
  min-height: 100vh;
  margin-top: -42px;
}

.mainpageheading {
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1.4px;
  text-shadow:
  -.6px -.6px 0 white,
  .6px -.6px 0 white,
  -.6px .6px 0 white,
  .6px .6px 0 white;
  padding-left: 5em;
  padding-right: 5em;
  background: rgba(230, 230, 230, .1);
}

.pagemiddle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 12%;
}

.mainpagestoryimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/YawningPortal_Hero_Animation_PreLoader.jpg");
  min-height: 100vh;
}

.mainpagetext {
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1px;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  padding-left: 5em;
  padding-right: 5em;
  background: rgba(230, 230, 230, .1);
}

.pagelink {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 2.3em;
  text-shadow:
  -.4px -.4px white,
  .4px -.4px white,
  -.4px .4px white,
  .4px .4px white;
}

.mainpagecharactersimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/dramaticDragon.jpg");
  min-height: 100vh;
}

.mainpagegameplayimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/goblins.jpg");
  min-height: 100vh;
}

.mainpageresourcesimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/dd4.jpg");
  min-height: 100vh;
}
