body {
  background-color: khaki;
}

.imagedivide {
  text-align: center;
  font-size: 1.5em;
}

.mainpageheadingimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/Pathfinder-At-War.jpg");
  min-height: 100vh;
  margin-top: -42px;
}

.mainpageheading {
  text-align: center;
  font-size: 2.3em;
  color: black;
  letter-spacing: 1.4px;
  text-shadow:
  -.6px -.6px 0 darksalmon,
  .6px -.6px 0 darksalmon,
  -.6px .6px 0 darksalmon,
  .6px .6px 0 darksalmon;
  padding-left: 5em;
  padding-right: 5em;
  background: rgba(230, 230, 230, .25);
}

.mainpageheading a {
  text-decoration: none;
}

.pagemiddle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 9%;
}

.mainpagestoryimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/YawningPortal_Hero_Animation_PreLoader.jpg");
  min-height: 100vh;
}

.mainpagetext {
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1px;
  text-shadow:
  -.6px -.6px 0 darksalmon,
  .6px -.6px 0 darksalmon,
  -.6px .6px 0 darksalmon,
  .6px .6px 0 darksalmon;
  padding-left: 5em;
  padding-right: 5em;
  background: rgba(230, 230, 230, .2);
}

.mainpagetext a {
  text-decoration: none;
}

.mainpagecharactersimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/dramaticDragon.jpg");
  min-height: 100vh;
}

.mainpagegameplayimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/goblins.jpg");
  min-height: 100vh;
}

.mainpageresourcesimage {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../websiteImages/dd4.jpg");
  min-height: 100vh;
}

.storypageheading {
  text-align: center;
}

.structuringstory {
  padding-left: 1.5em;
  padding-right: 1em;
  padding-bottom: 0%;
  border: solid;
}

.secondtab {
  padding-left: 2.5em;
  padding-right: 1em;
}

.expectingtheunexpected {
  padding-left: 2em;
  padding-bottom: 0%;
  width: 70%;
  border: solid;
}

.story1 {
  position: relative;
  left: 71.9%;
  border: solid;
  width: 26.85%;
  padding-bottom: -1em;
}

.story2 {
  position: relative;
  left: 71.9%;
  border: solid;
  width: 26.85%;
  padding-bottom: -1em;
}

.linkback {
  text-align: center;
  font-size: 1.5em;
}

.linkback a {
  text-decoration: none;
}

.gameplaytext {

}

.gameplayimage {

}

.soundtrackexample {

}

.nextpage {
  font-size: 2em;
  text-align: center;
}

.nextpage a {
  text-decoration: none;
}

.characterheading {
  text-align: center;
  background-color: skyBlue;
}

.charactertext {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1em;
}

.tableofcontents {
  padding-left: 1.7em;
  font-size: 1.3em;
  line-height: 1.5em;
}

.heading{
  text-align: center;
  font-size: 2.5em;
  color: DarkGoldenRod;
}

.resourcesheading {
  text-align: center;
  font-size: 1.2em;
  background-color: coral;
}

.resourcestext {
  color: black;
  line-height: 1.3em;
  font-size: 1.2em;
}

.backup {
  font-size: 1.4em;
  text-align: right;
  padding-right: 10%;
}
